apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: kube-helloweb
spec:
  selector:
    matchLabels:
      app: helloweb-app
  replicas: 2
  template:
    metadata:
      labels:
        app: helloweb-app
    spec:
      containers:
      - name: helloweb-app
        image: grahamh//hello-docker-web:3.0
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: helloweb-svc
  labels:
    app: helloweb-app
spec:
  type: NodePort
  ports:
    - port: 8080
      nodePort: 33081
  selector:
    app: helloweb-app

